%TMPL:INCLUDE{view}%
%{
---------------------------------------------------
}%%TMPL:DEF{"topicinfo"}%<div class="patternInfo"><div class="patternRevInfo">%MAKETEXT{"Contributions:"}% 
%CONTRIBUTORS{}%
</div></div>%TMPL:END%%{
---------------------------------------------------
}%